/* General styles for core modules. */




/* Core modules appear inside a translucent background. This makes the core   */
/* modules stand out, and also prevents ui elements behind being clicked.     */
#oomod-core {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: var(--color-core-wrap-bkgnd);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;
    z-index: 1;
}
#oomod-core.show {
    visibility: visible;
    opacity: 1;
}
.oomod-core-frontmost #oomod-core {
    z-index: 2;
}


/* Xx. */
#oomod-core >div {
    position: absolute;
    box-sizing: border-box;
    height: 70vh;
    margin: 10vh 0 0 50vw;
    padding: 16px;
    background: var(--color-core-bkgnd);
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;
}
#oomod-core >div.show {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 590px) {
    #oomod-core >div {
        width: 276px;
        left: -138px;
    }
}
@media (min-width: 591px) {
    #oomod-core >div {
        width: 552px;
        left: -276px;
    }
}
