/* General styles for forms. */



.oomod-form.invalid {
    outline: 2px solid var(--color-red);
}

label, .label {
    display: block;
}
label.invalid, .label.invalid {
    outline: 2px solid var(--color-red);
}

label >input, .label >input, label >.input, .label >.input {
    display: block;
    margin: 2px 0 12px 0;
    box-sizing: border-box;
    width: 100%;
}
