/* General styles for grid modules. */




/* The outer container for all grid module. */
#oomod-grid {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: var(--color-grid-wrap-bkgnd);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;
}
#oomod-grid.show {
    visibility: visible;
    opacity: 1;
}


/* Each grid module’s container. */
#oomod-grid >div {
    box-sizing: content-box;
    width: 200px;
    height: 0;
    background: var(--color-grid-bkgnd);
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s, width 1s, height 1s, margin 1s, padding 1s;
}
#oomod-grid >div.fill,
#oomod-grid >div.show {
    visibility: visible;
    opacity: 1;
}
#oomod-grid >div.fill {
    width: 100%;
    height: 100%;
}
#oomod-grid >div.show {
    width: 200px;
    height: 100px;
    margin: 16px;
}

/* */
#oomod-grid >div >div {
    padding: 16px;
}


/* Hide maximize and minimize buttons, depending on the current view. */
#oomod-grid >div button.maximize,
#oomod-grid >div .button.maximize,
#oomod-grid >div button.minimize,
#oomod-grid >div .button.minimize {
    display: none;
}

#oomod-grid >div.show button.maximize,
#oomod-grid >div.show .button.maximize,
#oomod-grid >div.fill button.minimize,
#oomod-grid >div.fill .button.minimize {
    display: block;
}
