/* General styles for popup modules. */




/* Popups appear inside a translucent background. This makes the popups stand */
/* out, and also prevents ui elements behind them from being clicked.         */
#oomod-popup {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: var(--color-popup-wrap-bkgnd);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;
    z-index: 2;
}
#oomod-popup.show {
    visibility: visible;
    opacity: 1;
}
.oomod-core-frontmost #oomod-popup {
    z-index: 1;
}

/* Xx. */
#oomod-popup >div {
    position: absolute;
    box-sizing: border-box;
    height: 70vh;
    margin: 10vh 0 0 50vw;
    padding: 16px;
    background: var(--color-popup-bkgnd);
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;
}
#oomod-popup >div.show {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 590px) {
    #oomod-popup >div {
        width: 276px;
        left: -138px;
    }
}
@media (min-width: 591px) {
    #oomod-popup >div {
        width: 552px;
        left: -276px;
    }
}
