/* General styles for rows. */




.oomod-row {
    margin: 4px 0 0 0;
}
.oomod-row.invalid {
    outline: 2px solid var(--color-red);
}



@media (max-width: 590px) {
    .oomod-row input, .oomod-row .input {
        margin: 4px 0;
        box-sizing: border-box;
        width: 100%;
    }
}
@media (min-width: 591px) {
    .oomod-row input, .oomod-row .input {
        box-sizing: border-box;
        width: 50%;
    }
}
