/* Color variables, and applying them to the page. */




:root {

    /* Only used in this file. */
    --color-selection: #06c;
    --color-main-bkgnd: #222;
    --color-main-text: #ccc;

    /* Singleton modules (core, grid and popup). */
    --color-core-wrap-bkgnd: #1219;
    --color-core-bkgnd: #010c;
    --color-grid-wrap-bkgnd: #003;
    --color-grid-bkgnd: #036;
    --color-popup-wrap-bkgnd: #6669;
    --color-popup-bkgnd: #000c;

    /* User interface. */
    --color-ui-button-bkgnd: #ccc;
    --color-ui-button-text: #333;
    --color-ui-button-bkgnd-hover: #fff;
    --color-ui-button-text-hover: #000;
    --color-ui-button-bkgnd-success: #6e6;
    --color-ui-button-bkgnd-error: #e66;
    --color-ui-button-bkgnd-disabled: #999;
    --color-ui-button-text-disabled: #666;

    --color-ui-input-bkgnd: #444;
    --color-ui-input-text: #ccc;
    --color-ui-input-bkgnd-focus: #333;
    --color-ui-input-text-focus: #fff;
    --color-ui-input-bkgnd-disabled: #666;
    --color-ui-input-text-disabled: #333;

    --color-ui-link: #6cf;
    --color-ui-link-hover: #8ef;
    --color-ui-link-visited: #c9f;
    --color-ui-link-visited-hover: #ebf;

    /* Palette. */
    --color-red: #c36;

}

body {
    background-color: var(--color-main-bkgnd);
    color: var(--color-main-text);
}

::selection {
    background: var(--color-selection);
    color: #fff;
}
