/* Custom webfonts. Should be loaded as soon as possible. */

@font-face { font-family: 'Ubuntu'; font-weight: 400; font-style: normal;
  src: local('Ubuntu Regular'), local('Ubuntu-Regular')
    , url(../../font/ubuntu-regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA
    , U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
@font-face { font-family: 'Ubuntu'; font-weight: 400; font-style: italic;
  src: local('Ubuntu Italic'), local('Ubuntu-Italic')
    , url(../../font/ubuntu-italic.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA
    , U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
@font-face { font-family: 'Ubuntu'; font-weight: 700; font-style: normal;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold')
    , url(../../font/ubuntu-bold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA
    , U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
@font-face { font-family: 'Ubuntu'; font-weight: 700; font-style: italic;
  src: local('Ubuntu Bold Italic'), local('Ubuntu-BoldItalic')
    , url(../../font/ubuntu-bolditalic.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA
    , U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
@font-face { font-family: 'Ubuntu Mono'; font-weight: 400; font-style: normal;
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular')
    , url(../../font/ubuntumono-regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA
    , U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
