/* Buttons and other UI elements. */




/* BUTTON */

button, .button {
    padding: 4px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: var(--color-ui-button-text);
    background: var(--color-ui-button-bkgnd);
    transition: background-color 0.3s;
}
button:hover, .button:hover,
button:focus, .button:focus {
    color: var(--color-ui-button-text-hover);
    background: var(--color-ui-button-bkgnd-hover);
}
button[disabled], .button[disabled] {
    background-color: var(--color-ui-button-bkgnd-disabled);
    color: var(--color-ui-button-text-disabled);
    cursor: inherit;
}

button.close, .button.close,
button.maximize, .button.maximize,
button.minimize, .button.minimize {
    font-size: 4em;
    float: right;
    width: 0.6em;
    padding: 0 0 0.1em 0;
    line-height: 0.5;
}
button.close:hover, .button.close:hover,
button.close:focus, .button.close:focus {
    color: var(--color-red);
}




/* INPUT */

input, .input {
    padding: 4px 12px;
    border: none;
    border-radius: 4px;
    background-color: var(--color-ui-input-bkgnd);
    color: var(--color-ui-input-text);
    transition: background-color 0.3s;
}
input:focus, .input:focus {
    background-color: var(--color-ui-input-bkgnd-focus);
    color: var(--color-ui-input-text-focus);
}
input[disabled], .input[disabled] {
    background-color: var(--color-ui-input-bkgnd-disabled);
    color: var(--color-ui-input-text-disabled);
    font-weight: bold;
}




/* LINK */

a, .link {
    color: var(--color-ui-link);
}
a:hover, .link:hover,
a:focus, .link:focus {
    color: var(--color-ui-link-hover);
    outline: none;
}
a:visited, .link:visited {
    color: var(--color-ui-link-visited);
}
a:visited:hover, .link:visited:hover,
a:visited:focus, .link:visited:focus {
    color: var(--color-ui-link-visited-hover);
}
