/* Xx. */

.oomod-persist button.success,       .oomod-persist .button.success,
.oomod-persist button.success:hover, .oomod-persist .button.success:hover,
.oomod-persist button.success:focus, .oomod-persist .button.success:focus {
    background: var(--color-ui-button-bkgnd-success);
}

.oomod-persist button.error,       .oomod-persist .button.error,
.oomod-persist button.error:hover, .oomod-persist .button.error:hover,
.oomod-persist button.error:focus, .oomod-persist .button.error:focus {
    background: var(--color-ui-button-bkgnd-error);
}


/* Xx. */
.oomod-persist-json-input {
    height: 0;
    margin-top: 4px;
    overflow: hidden;
    transition: height 0.5s;
}
.oomod-persist-json-input.show {
    height: 4em;
}
.oomod-persist-json-input textarea {
    width: 100%; min-width: 100%; max-width: 100%;
    height: 4em; min-height: 4em;
    font-family: 'Ubuntu Mono', monospace;
}
